<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
	 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	 xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
	 version="2.4">

	<display-name>JenScript</display-name> 
 	
 	
 	<!-- JenScript -->	
	<servlet>
		<servlet-name>JenScript</servlet-name>
		<servlet-class>com.jensoft.sw2d.core.x2d.http.X2DHTTPBase64Connector</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>JenScript</servlet-name>
		<url-pattern>/JenScript</url-pattern>
	</servlet-mapping>
	
	
  <servlet>
    <servlet-name>default</servlet-name>
    <servlet-class>org.mortbay.jetty.servlet.DefaultServlet</servlet-class>
    <init-param>
      <param-name>useFileMappedBuffer</param-name>
      <param-value>false</param-value>
    </init-param>
  </servlet>

</web-app>
